$primary-color: #f3a952;
$default-color: #4e5054;

.youtube {
  position: absolute;
  top: 300px;
  left: 75px;
}

.show-in {
  background-color: $default-color;
  color: #fff;
  border-radius: 8px;
  outline: none;
  border: none;
}

.postUrl {
  margin-top: 8px;
  & > input {
    font-size: 14px;
    border-radius: 4px;
    border: none;
    outline: none;
    background-color: #4e5054;
    color: #fff;
    padding: 4px 7px;
  }
  & > button {
    border: none;
    outline: none;
    color: #fff;
    background: teal;
    border-radius: 8px;
    padding: 4px 7px;
    margin-left: 10px;
  }
}

.screen {
  & > button {
    border: none;
    outline: none;
    color: #fff;
    background: teal;
    border-radius: 8px;
    padding: 4px 7px;
    margin-top: 10px;
    margin-left: 30px;
  }
}

button:focus {
  outline: none;
}
